.test__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.test__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

}

.test__navbar-links_logo {
    margin-right: 2rem;
}

.test__navbar-links_logo img {
    width: 62.56 px;
    height: 16.02 px;
}

.test__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.test__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.test__navbar-links_container p, .test__navbar-sign p, .test__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.test__navbar-sign button, .test__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.test__navbar-menu {
    margin-left: 1rem;
    display:none;
    position: relative;
}

.test__navbar-menu svg {
    cursor: pointer;
}

.test__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.test__navbar-menu_container p {
    margin: 1rem 0;
}

.test__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) { 
    .test__navbar-links_container {
        display: none;
        
    }
    .test__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) { 
    
    .test__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) { 
    
    .test__navbar {
        padding: 2rem;
    }

    .test__navbar-sign {
        display: none;
    }

    .test__navbar-menu_container {
        top: 20px;
    }

    .test__navbar-menu_container-links-sign {
        display: block ;
    }
}
